.iframe{
    
        width: 200vh;
        height: 200vh;
        position: center;
}

.health{
        width: 320;
        height: 240;
        background-position: center;

}

.navbar{
        
        background-color: antiquewhite;
        font-weight: 800;
        color: black;
}
.background-image{
        background-color: dimgray;
}